.task-create-modal{
    width: 340px;
    margin-top: 3%;
    margin-top: 3%;
    height: 90vh;
    @apply relative mx-auto;
}

.task-create-modal-inner{
    @apply bg-gray-100 w-full shadow-2xl flex flex-col rounded p-2;
}

.create-modal-top{
    @apply text-lg font-semibold mb-4;
}

.create-modal-close-btn{
    width: 30px;
    height: 30px;
    @apply text-lg text-center rounded-full border-2 border-black;
    float: right;
}

.create-modal-task-title-area{
    padding: auto;
    margin-top: 10px;
    @apply rounded mb-4 italic;
}

.create-modal-task-title-input{
    width: 207px;
    @apply rounded ml-2 border-2 border-black px-1;
}